[Unit]
Description=Laravel Queue Worker
After=network.target

[Service]
Type=simple
User=ec2-user
Group=ec2-user
Restart=always
RestartSec=3
ExecStart=/usr/bin/php /var/www/api-inventory-tracking/artisan queue:work --sleep=3 --tries=3 --timeout=90
StandardOutput=journal
StandardError=journal
SyslogIdentifier=laravel-worker

[Install]
WantedBy=multi-user.target


